.DS_Store

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.vscode

# dbt
target/
dbt_modules/
dbt_packages/
logs/
.user.yml

.env
*.env
secret.txt
